<section id="">
	<div class="header">
	  <div class="back-btn-show"><a href=""><img src="assets/img/back-page.png"> Form Kartu Kredit</a></div>
	</div>
	<p *ngIf="isValidFormSubmitted && creditcard.pristine" [ngClass]="'success'">
		Form Submitted Successfully
	</p>	
	<form [formGroup]="creditcard" (ngSubmit)="onSubmitCC()">
	    	<div class="detail-package">
			  	<div class="ons-detail">
			  		<div class="package-step">
			  			<ul>
								<li class="step done"><span class="center"><span class="no">1</span> Pesan</span></li>
								<li class="step done"><span class="center"><span class="no">2</span> Bayar</span></li>
								<li class="step"><span class="center"><span class="no">3</span> Proses</span></li>
								<li class="step"><span class="center"><span class="no">4</span> E-Tiket</span></li>
					 		</ul>
				 		</div>
			  	</div>
					
					<div class="ons-detail">
						<div class="fill-input">
							<h4 class="list-header main">{{ bannerDetail?.detailtours.data.name }}</h4>
								<ul class="list-of-steps">
									<li>{{ bannerDetail?.detailtours.data.trip_date }}</li>
									<li>x1 Paket</li>
								</ul>
						</div>
					</div>

		<div class="ons-detail">
			<div class="total-order">
				<div class="package-step credit-card">
					<div class="list-item-center">
						<div class="item"><img src="assets/img/logo-visa.png"></div>
						<div class="item"><img src="assets/img/logo-mastercard.png"></div>
						<div class="item"><img src="assets/img/logo-v-visa.png"></div>
						<div class="item"><img src="assets/img/logo-s-mastercard.png"></div>
						<div class="item"><img src="assets/img/logo-geotrust.png"></div>
					</div>
				</div>

					<p class="fill-input">
						<label>Jenis Kartu Kredit</label>
							<select class="form-control" id="titleField" formControlName="typecc" required>
								<option value="" disabled selected hidden>Silakan Pilih</option>
								<option value="visa"> Visa</option>
								<option value="mastercard">MasterCard</option>
								<option value="discover">Discover</option>
							</select>
					</p>
					<div *ngIf="creditcard.get('typecc').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
						<p style="color:red; font-size: 11px; margin-left: 4px; margin-bottom: 15px;"> *Jenis kartu kredit tidak boleh kosong. </p>
					</div>
					<p class="fill-input">
					  	<label>Nomor Kartu redit</label>
						<input 
						type="text" 
						class="form-control" 
						modifier="underbar"
						maxlength="19" 
						formControlName="nocc"
						placeholder="Contoh: 8765-9876-9827-8236">
					</p>
					<div *ngIf="creditcard.get('nocc').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
						<p style="color:red; font-size: 11px; margin-left: 4px; margin-bottom: 15px;">	*Nomor kartu kredit tidak boleh kosong. </p>
					</div>
				    <p class="fill-input">
					  	<label>Nama Pemilik Kartu Kredit</label>
					  	<input 
						type="text" 
						class="form-control" 
						modifier="underbar" 
						maxlength="50"
						formControlName="name"
						placeholder="Ketik disini">
					</p>
					<div *ngIf="creditcard.get('name').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
						<p style="color:red; font-size: 11px; margin-left: 4px; margin-bottom: 15px;"> *Nama pemilik kartu kredit tidak boleh kosong. </p>
					</div>
				    <p class="fill-input">
					  	<label>Masa Berlaku</label>
						<input 
						type="text" 
						class="form-control" 
						modifier="underbar"
						formControlName="validthru" 
						placeholder="MM / YY">
					</p>
					<div *ngIf="creditcard.get('validthru').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
						<p style="color:red; font-size: 11px; margin-left: 4px; margin-bottom: 15px;"> *Masa berlaku tidak boleh kosong.</p>
					</div>
				    <p class="fill-input">
					  	<label>CVV (Card Verification Value)</label>
						<input 
						type="text" 
						class="form-control" 
						modifier="underbar"
						maxlength="4" 
						formControlName="nocvv"
						placeholder="Contoh: 888">
					</p>
					<div *ngIf="creditcard.get('nocvv').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
						<p style="color:red; font-size: 11px; margin-left: 4px; margin-bottom: 15px;">	*CVV tidak boleh kosong. </p>
					</div>
				<div class="transaction-info">
					<h4 class="list-header">Butuh Bantuan ?</h4>
						<ul class="list-type-inside-list list-detail text-center no-style-type">
							<li>No. Pesanan Anda adalah XXXXX. Silakan hubungi CS kami melalui live chat dengan menyebutkan nomor pesanan tersebut apabila Anda mengalami suatu kendala.</li>
						</ul>
				</div>
			</div>
			<p class="view-term">Dengan mengklik "Lanjut ke Pembayaran" Anda menyetujui <a [routerLink]="['/paket-wisata/term-condition']"  routerLinkActive="active" uzonelink>Syarat dan Ketentuan</a> yang berlaku</p>
		</div>
		<div class="order-now continue">
			<button class="btn" type="submit">Bayar Dengan Kartu Kredit</button>
	   </div>
	</div>
	</form>
</section>